<!-- header template -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: coral;">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/urls">
          TinyApp
        </a>
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>

<!-- Login feature -->
        <% if(!username){ %>
        <form style="padding-left: 25em;" class="form-inline" action="/login" method="POST">
            <input class="form-control" type="text" name="username" placeholder="username..." style="width: 250px;">
            <button type="submit" class="btn btn-warning" style="background-color: lightsalmon; color: cornsilk; margin-left: 1em;">Submit</button>
        </form>
        <% } else{ %>
          <form style="padding-left: 25em;" class="form-inline" action="/logout" method="POST">
            <a class="nav item" style="color: white;">Logged in as: &nbsp<b> <%= username %> &nbsp</b></a>
            <button type="submit" class="btn btn-warning" style="background-color: lightsalmon; color: cornsilk; margin-left: 1em;">Logout</button>
        </form>
        <% } %>
 
    <div>
    </div>
  </nav>
</header>